{{outlet}}

<table>
	<tbody>
		<td>Name</td>
		<td>Price</td>
		<td>Quantity</td>
		<td>Shipping</td>
		<td>Total</td>
	</tbody>

	{{#each item in model.items }}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.price}}</td>
			<td>{{item.quantity}}</td>
			<td>{{item.shipping}}</td>
			<td>{{item.total}}</td>
		</tr>
	{{/each}}

</table>

<br>
Total: {{ model.total }}